@{
    Layout = "master-layout.cshtml";
}

<h1>CAI Test Bench</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Global Controller</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Member Controller</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="/member-controller/accounts-with-balances">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Accounts Controller</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Loan Controller</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
            <li><a href="#">AccontsWithBalances</a> - Retrives a list of accounts with their current and available balances</li>
        </ul>
    </div>
</div>
