@{
    Layout = "master-layout.cshtml";
}

<h1>Accounts with balances</h1>

ajax post returns partial
check for ajax https://groups.google.com/forum/#!topic/nancy-web-framework/649vqdjFlLQ

light weight storage